.btn {
    background: #6278F7;
    border: none;
    border-radius: 10px;
    padding: 20px ;

    font-weight: 700;
    font-size: 18px;    
    color: #FFFFFF;

    cursor: pointer;
}

.btn:hover {
    color: #95FFD4;
}